.passes-table-container {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Add this style for the table */
  .passes-table {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .passes-table th, .passes-table td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .passes-table th {
    background-color: #f2f2f2;
  }
